<div id= "question">
  <h4>Your question:</h4>
  <p><%= @question %></p>
</div>

<div id="answer">
  <h4>Coach's answer:</h4>
  <p><%= @answer %></p>
  <%= link_to "Ask a new question", "ask" %>
</div>
